{% ckan_extends %}

{% block package_metadata_fields %}
  {{ form.input('compiled_at',
                type='date',
                classes=['control-full', 'control-medium'],
                label=_('Compiled at'),
                id='field-compiled_at',
                value=data.compiled_at,
                error=errors.compiled_at)
  }}

  {{ form.input('expires_on',
                type='date',
                classes=['control-full', 'control-medium'],
                label=_('Expires on'),
                id='field-expires_on',
                value=data.expires_on,
                error=errors.expires_on)
  }}

  {{ form.markdown('expiration_info',
                   id='field-expiration_info',
                   label=_('Expiration info'),
                   value=data.expiration_info,
                   error=errors.expiration_info)
  }}
{% endblock %}
