{% ckan_extends %}

{% block package_additional_info %}
  {% if pkg.expires_on %}
      {% if h.extrafields_dataset_expired(pkg.expires_on) %}
        <div class="alert-danger">
          <p>{% trans %}This dataset has expired since{% endtrans %}: {{ h.extrafields_dateformat(pkg.expires_on) }}.</p>

          {% if pkg.expiration_info %}
            <p>{% trans %}Here is the explanation: {% endtrans %}</p>
            <p>{{ pkg.expiration_info }}
          {% endif %}
        </div>
      {% else %}
        <div class="alert-success">
          <p>{% trans %}This dataset is current! It expires on{% endtrans %}: {{ h.extrafields_dateformat(pkg.expires_on) }}.</p>
        </div>
      {% endif %}
  {% endif %}

  {{ super() }}
{% endblock %}
